
  <!-- Header -->
  <%- include('./partials/head.ejs') %>
  <% if (true) { %>
  <%- include('./partials/headerLogueado.ejs') %>
  <% } else {%>
    <%- include('./partials/headerNormal.ejs') %>
  <% } %>

  <!-- /Header -->


  <!-- Banner -->
  <div class="banner">
    <img src="images/Banner-pokehub.png" alt="Banner de ofertas">
  </div>
  <!-- /Banner -->
  <br>
  <!-- Novedades -->
  <div class="container products-wrapper">
    <div class="row">
      <div class="col-12">
        <h2 class="products-title">Novedades</h2>
      </div>
      <!-- Show the "ultimos" products -->

      <!-- For Productos -->
      <% for( let i = 0; i < productos.length; i++ ) { %>
        <div class="col-12 col-sm-6 col-lg-3">
          <section class="product-box">
            <a href="/product/detail/<%= productos[i].id %>">
              <figure class="product-box_image">
                <img src="/<%=productos[i].productImage %>" alt="">
              </figure>
              <article class="product-box_data">
                <h2><%= productos[i].productName %></h2>
                <p><%= productos[i].productDes %></p>
                <p>Comentarios: 12</p>
              </article>
            </a>
          </section>
        </div>
      <% } %>
      
  <!-- /Más comentados -->


  <!-- footer -->

  <%- include('./partials/footer') %>

  <!-- /footer -->
