<%- include('./partials/head') %>
<% if (locals.user == undefined) { %>
<%- include('./partials/headerNormal') %>
<% } else { %>
<%- include('./partials/headerLogueado') %>
<% } %>

    <!-- /Header -->

    <!-- product detail -->
    <div class="container products-wrapper">
        <div class="d-flex align-items-center">
            <h2 class="products-title"><%=producto.nombre%></h2>
            <p class="product-detail-description">
                <a class ="EDITAR"href="/product/update/<%=producto.id %> ">Editar</a>
            </p>
            <form action="/product/delete" method="POST">
                <input type="text" hidden name="id" id="" name="id" value="<%= producto.id %>">
                <input class="btn btnDelete" value="Eliminar" type="submit">
        </div>
        <div class="product-detail">
            <div class="row">
                <article class="col-12 col-lg-8 product-detail-info">
                    <img src="<%=producto.img_productos %>" alt="" class="product-detail-img">
                    <p class="product-detail-description">
                    <%=producto.descripcion%>
                    </p>
                </article>
                <div class="col-12 col-lg-4">
                    <!-- MOSTRAR COMENTARIOS -->
                    <!--  -->
    <section>
        <% for(let i = 0; i < producto.comentarios.length; i++  ) { %>
            <img src="<%= producto.comentarios[i].usuario.foto_perfil %>" alt="">
            <li><%= producto.comentarios[i].usuario_id %> <%= producto.comentarios[i].textocomentario %></li>
            <% } %>
    </section>

                    <form class="form" action="" method="POST">
                        <input class="form-input" type="text" value="" placeholder="Agregar comentario">
                        <button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
                    </form>
                    <hr>
                </div>
            </div>
        </div>
    </div>


    <%- include('./partials/footer') %>

