<%- include('./partials/head') %>
<% if (locals.user == undefined) { %>
<%- include('./partials/headerNormal') %>
<% } else { %>
<%- include('./partials/headerLogueado') %>
<% } %>

    <!-- /Header -->

    <!-- product detail -->
    <div class="container products-wrapper">
        <div class="d-flex align-items-center">
            <h2 class="products-title"><%=producto.nombre%></h2>
            <p class="product-detail-description">
                <a class ="EDITAR"href="/product/update/<%=producto.id %> ">Editar</a>
            </p>
        </div>
        <div class="product-detail">
            <div class="row">
                <article class="col-12 col-lg-8 product-detail-info">
                    <img src="<%=producto.img_productos %>" alt="" class="product-detail-img">
                    <p class="product-detail-description">
                    <%=producto.descripcion%>
                    </p>
                </article>
                <div class="col-12 col-lg-4">
                    
                    </section>
                    <form class="form" action="" method="POST">
                        <input class="form-input" type="text" value="" placeholder="Agregar comentario">
                        <button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
                    </form>
                    <hr>
                </div>
            </div>
        </div>
    </div>


    <%- include('./partials/footer') %>

