<%- include('./partials/head')%>
<% if (locals.user != undefined) { %>
<%- include('./partials/headerNormal') %>
<% } else { %>
<%- include('./partials/headerLogueado') %>
<% } %>

<!-- /Header -->

<!-- Novedades -->
<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title">Registrate</h2>
        </div>
       
        <h2 class="col-12"> </h2>
<% if (locals.error) { %>
 <p><%= locals.errors.message %></p>
<% } %>

        <form action="" method="POST">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="username">Usuario:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>

            <label for="password">Foto:</label>
            <input type="text" id="foto" name="foto" required>

            <label for="birthdate">Fecha de nacimiento:</label>
            <input type="date" id="birthdate" name="birthdate" required>

            <input type="submit" value="Enviar">

        </form>



        <%- include('./partials/footer') %>
