<%- include('./partials/head') %>
<% if (locals.user == undefined) { %>
<%- include('./partials/headerNormal') %>
<% } else { %>
<%- include('./partials/headerLogueado') %>
<% } %>

    <!-- /Header -->

    <!-- Novedades -->
    <div class="container products-wrapper">
        <div class="row">
            <div class="col-12">
                <h2 class="products-title">Resultados de búsqueda</h2>
            </div>
            <section class="section-playlist">

                <ol class="flex-box-c">
                  <% for( let i = 0; i < productos.length; i++ ) { %>
                    <li class="li">
                      <a href="/product/detail/<%= productos[i].id  %>"><%= productos[i].nombre %> </a> 
                    </li>
                  <% } %>

            <%- include('./partials/footer') %>

           
